@model IEnumerable<CryptoMiningControlCenter.Models.Repository.EFCore.Miner>
@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "矿机在线状态监控";
}

<div class="text-center">
    <h1 class="display-4">矿机在线状态监控</h1>
</div>

<h4>欢迎你! @Context.Session.GetString("username")</h4>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            选择场地位置: <select id="locationfilter" type="text" name="SearchString" value="@ViewData["currentFilter"]" onchange="form.submit();" >
                <option selected disabled hidden style='display: none' value=''></option>
                <option value="普洱">普洱</option>
                <option value="新马">新马</option>
                <option value="普洱一期">普洱一期</option>
                <option value="普洱二期">普洱二期</option>
            </select>
            @*<input type="submit" value="确定" class="btn btn-default" />*@

            <a asp-action="Index">返回所有列表</a>
        </p>
    </div>
</form>

<table class="table table-bordered row">
    <thead class="w-100">
        <tr class="row mx-0 bg-primary">
            <th class="col-1">
                客户名
            </th>
            <th class="col-1">
                机器型号
            </th>
            <th class="col-1">
                场地
            </th>
            <th class="col-1">
                在线台数
            </th>
            <th class="col-1">
                离线台数
            </th>
            <th class="col-1">
                无效台数
            </th>
            <th class="col-1">
                上机台数
            </th>
            <th class="col-1">
                15分钟算力
            </th>
            <th class="col-1">
                24小时算力
            </th>
            <th class="col-1">
                平均算力
            </th>
            <th class="col-1">
                理论算力
            </th>
            <th class="col-1">
                数据达标率
            </th>
        </tr>
    </thead>
    <tbody class="w-100">
        @foreach (var item in Model)
        {
        <tr class="row mx-0">
            <td class="col-1">
                <a href="@item.Link" target="_blank">@Html.DisplayFor(modelItem => item.Username)</a>
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Minertype)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Inactive)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Dead)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Currentcalculation) @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Dailycalculation)  @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td class="col-1">
                @String.Format("{0:0.00}", (item.Currentcalculation / item.Active)) @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Standardcalculation)  @Html.DisplayFor(modelItem => item.Unit)
            </td>
            @if (item.Active == 0 || item.Standardcalculation == 0)
            {
                <td class="col-1" style="background-color:red"> 0 </td>
            }
            else if (((item.Currentcalculation * 100 / item.Active) / item.Standardcalculation) < 95)
            {
                <td class="col-1" style="background-color:yellow">
                    @String.Format("{0:0.00}", ((item.Currentcalculation * 100 / item.Active) / item.Standardcalculation))   %
                </td>
            }
            else
            {
                <td class="col-1" style="background-color:green">
                    @String.Format("{0:0.00}", ((item.Currentcalculation * 100 / item.Active) / item.Standardcalculation))   %
                </td>
            }
        </tr>
        }
    </tbody>
</table>

