@model IEnumerable<CryptoMiningControlCenter.Models.Repository.EFCore.Miner>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>


<div>
    <div>
        <div style="float:left"><a asp-action="Create">新添加场地观察者链接</a></div>
        <div style="float:right; margin-right:20px">
            @using (Html.BeginForm("DownloadExcel", "Admin", FormMethod.Post))
            {
                <div>@ViewBag.error 选择日期：</div>
                <input type="text" id="datepicker" name="datepicker">
                <input type="submit" value="导出 Excel" @*onclick="location.href='@Url.Action("DownloadExcel","Admin")'"*@ />
            }
        </div>
    </div>


    <table class="table table-bordered row">
        <thead class="w-100">
            <tr class="row mx-0 bg-primary">
                <th class="col-1">
                    客户名
                </th>
                <th class="col-1">
                    机器型号
                </th>
                <th class="col-1">
                    场地
                </th>
                <th class="col-5">
                    观察者链接
                </th>
                <th class="col-1">
                    上机台数
                </th>
                <th class="col-1">
                    理论算力
                </th>
                <th class="col-2">

                </th>
            </tr>
        </thead>
        <tbody class="w-100">
            @foreach (var item in Model)
            {
                <tr class="row mx-0">
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => item.Minertype)
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td class="col-5" style="word-break:break-all; word-wrap:break-word;">
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => item.Standardcalculation)
                    </td>
                    <td class="col-2">
                        <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">详细</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
